@import url("https://fonts.googleapis.com/css2?family=Playwrite+AR&family=Playwrite+BE+VLG:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&family=Playwrite+BE+VLG:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.container {
    display: flex;
    flex-direction: column;
    background-color: #e8dfdf;
    min-height: 100vh;

    .product-list {
        &__header {
            color: #000;
            display: flex;
            font-size: 1rem;
            justify-content: start;
            font-family: "Roboto";
            margin-left: 1rem;
        }

        &__content {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            &-card {
                display: flex;
                flex-direction: column;
                align-items: start;
                padding: 1rem;
                border-radius: 8px;

                &-image {
                    width: 20rem;
                    height: 12rem;
                    border-radius: 8px;
                }

                &-button {
                    border: 1px solid #c3c3c3;
                    margin-top: -1rem;
                    margin-left: 5.5rem;
                    padding: 0.5rem 1rem;
                    background-color: #fff;
                    color: #000;
                    border: none;
                    border-radius: 18px;
                    font-size: 0.875rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        margin-right: 0.5rem;
                    }
                }

                &-footer {
                    margin-top: 0.5rem;
                    text-align: center;
                    &__text {
                        display: flex;
                        flex-direction: column;
                        align-items: start;

                        p {
                            margin: 0.25rem 0;
                            font-size: 0.875rem;
                        }
                        :nth-child(1) {
                            color: #918b8b;
                        }
                        :nth-child(2) {
                            color: #110e0e;
                        }
                        :nth-child(3) {
                            color: hsla(0, 80%, 26%, 0.761);
                        }
                    }
                }
            }
        }
    }

    .cart {
        width: 20rem;
        margin-left: 1rem;
        border-radius: 8px;
        &__header {
            display: flex;
            align-items: start;
            h3 {
                font-size: 1.25rem;
                text-align: center;
                margin-bottom: 1rem;
            }
        }

        &__products {
            &-item {
                list-style: none;
                padding: 0;
                margin-left: 1rem;
                display: flex;
                flex-direction: column;

                &__list {
                    display: grid;
                    align-items: center;
                    justify-content: space-between;

                    &__name {
                        flex: 1;
                        font-size: 0.875rem;
                    }

                    &__icon {
                        cursor: pointer;
                        margin-right: 0.5rem;

                        svg {
                            fill: #caafa7;
                        }
                    }

                    &__quantity {
                        display: flex;
                        align-items: center;
                        font-size: 0.875rem;

                        .cart__quantity__color {
                            margin-right: 0.5rem;
                            color: #000;
                        }

                        .cart__price__color {
                            margin-right: 0.5rem;
                            color: #333;
                        }

                        .cart__total__color {
                            color: #333;
                        }
                    }
                }
            }
        }

        &__products-total {
            margin-top: 300px;
            display: flex;

            flex-direction: column;
            align-items: center;
            padding: 1rem;

            .cart__products-item_total {
                display: flex;
                justify-content: space-between;
                width: 100%;

                p {
                    font-size: 1rem;
                }
            }

            .confirm-order {
                p {
                    font-size: 0.875rem;
                    svg {
                        margin-right: 0.5rem;
                    }
                }
            }

            button {
                margin-top: 1rem;
                width: 100%;
                border-radius: 30px;
                background-color: hsla(0, 80%, 26%, 0.761);
                font-size: 0.875rem;
                height: 45px;
                color: #fff;
                border: none;
            }
        }
    }
}

@media (min-width: 768px) {
    .container {
        width: 100%;
        height: auto;
        // margin: 0;
        background-color: #efeded;
        display: grid;
        grid-template-columns: 680px 300px;
        gap: 30px;
        padding: 80px 90px;
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
        // background-image: url(../../public/assets/images/back.jpg) ;
        background-repeat: repeat;

        .product-list {
            height: 900px;

            &__header {
                color: #000;
                text-align: left;
                font-size: 10px;
                font-family: "Roboto";
                font-weight: 700;
            }

            &__content {
                width: 680px;
                height: fit-content;
                display: grid;
                grid-template-columns: auto auto auto;
                gap: 20px;

                &-card {
                    width: 215px;
                    height: 295px;
                    position: relative;
                    padding-bottom: 20px;
                    display: flex;
                    justify-content: start;
                    cursor: pointer;
                    box-sizing: border-box;

                    &-image {
                        width: inherit;
                        height: 200px;
                        border-radius: 10px;
                    }

                    &-footer {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        height: 135px;
                        line-height: 1px;
                        margin-bottom: 20px;

                        &__text {
                            color: #000;
                            display: grid;
                            gap: 0;
                            margin-top: 20px;
                            text-align: left;

                            p {
                                // Style for the first paragraph (category)
                                &:nth-child(1) {
                                    color: #939090;
                                    font-size: 12px;
                                    margin-bottom: 10px;
                                    font-weight: 700;
                                    font-optical-sizing: auto;
                                    font-style: italic;
                                }

                                // Style for the second paragraph (name)
                                &:nth-child(2) {
                                    font-family: "Roboto";
                                    color: #1f1e1ecb;
                                    font-weight: 700;
                                    margin-bottom: 10px;
                                    font-size: 14px;
                                }

                                // Style for the third paragraph (price)
                                &:nth-child(3) {
                                    color: hsla(0, 79%, 35%, 0.761);
                                    font-size: 14px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }

                    &-button {
                        border: 1px solid #c3c3c3;
                        margin-top: -1rem;
                        margin-left: 30px;
                        width: 150px;
                        background-color: #fff;
                        color: #000;
                        border-radius: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                    }
                }
            }
        }
        .cart {
            height: 560px;
            position: relative;
            border-radius: 8 px;
            display: grid;
            grid-template-columns: auto;
            background-color: #f8f4f4;
            box-sizing: border-box;
            margin-left: 120px;
            &__header {
                height: 60px;
                text-align: left;
                padding-left: 20px;
                font-family: "Roboto";
                font-size: 16px;
                font-weight: normal;
                margin: 0;
                color: hsla(0, 79%, 35%, 0.761);
            }
            &__products {
                width: inherit;
                margin-top: 0;
                top: 80px;
                position: absolute;
                &-item {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    padding-left: 10px;
                    &__name {
                        margin-bottom: 0;
                        display: flex;
                        color: rgb(37, 36, 36);
                    }

                    &__list {
                        display: grid;
                        grid-template-columns: 260px 0;
                        align-items: center;
                        padding: 0 10px;
                        align-items: center;
                        font-size: 14px;
                        margin-bottom: 10px;
                        .cart__products-item__quantity {
                            display: flex;

                            .cart__quantity__color {
                                color: hsl(14, 86%, 42%);
                                padding-right: 10px;
                            }
                            .cart__price__color {
                                color: #8b8989;
                                padding-right: 10px;
                            }
                            .cart__total__color {
                                color: rgb(30, 29, 29);
                            }
                        }
                    }

                    &__icon {
                        justify-self: end;
                        justify-content: start;
                        border: 1px solid #c3c3c3;
                        border-radius: 50%;
                        width: 20px;
                        height: 20px;
                        margin-top: 10px;
                    }
                }
            }

            .cart__products-item_total {
                :nth-child(1) {
                    color: rgb(37, 36, 36);
                    font-size: 12px;
                    display: flex;
                    padding-left: 20px;
                }
                :nth-child(2) {
                    color: rgb(37, 36, 36);
                    font-size: 12px;
                    margin-left: 100px;
                    font-size: 18px;
                    font-weight: 700;
                }
            }

            .confirm-order {
                color: rgb(37, 36, 36);
                font-size: 12px;
                background-color: rgb(247, 240, 230);
                width: 230px;
                height: 40px;
                margin-left: 30px;
                display: flex;
                padding-left: 20px;
                :nth-child(1) {
                    align-self: center;
                }
            }
            .divider::after {
                content: "";
                display: block;
                border-bottom: 1px solid #ece7e7;
                margin: 20px 0;
            }
        }
    }
}
